/*
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

@font-face {
    font-family: RobotoFlex;
    src: url(../fonts/RobotoFlex.woff2) format(woff2 supports variations),
         url(../fonts/RobotoFlex.woff2) format(woff2-variations);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: JetBrainsMono;
    src: url(../fonts/JetBrainsMono-Regular.woff2);
}

body {
    background: var(--background);
    color: var(--foreground);
    user-select: none;
    margin: 0;
    overflow: hidden;
    cursor: default;
}

input {
    background: var(--background-trans);
    border: 2px solid var(--bg-3);
    color: var(--foreground);
    padding: 7px 10px 3px 10px;
    border-radius: 5px;
    margin: 5px 0 0 0;
    width: stretch;
    
    transition: border 0.1s ease;

    font-family: RobotoFlex;
    font-size: 11pt;
    letter-spacing: 0.2px;
    font-weight: 600;
}
input:focus {
    border: 2px solid var(--bg-2);
}