/*
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: JetBrainsMono;
    src: url(../fonts/JetBrainsMono-Regular.woff2);
}

body {
    background: var(--background);
    color: var(--foreground);
    user-select: none;
    margin: 0;
    overflow: hidden;
    cursor: default;
}

input {
    background: var(--background-trans);
    border: 2px solid var(--bg-3);
    color: var(--foreground);
    padding: 5px 10px;
    border-radius: 5px;
    transition: border 0.1s ease;
    margin: 5px 0 0 0;
    width: stretch;
    font-family: Montserrat;
}
input:hover {
    border: 2px solid var(--foreground-2);
}
input:focus {
    border: 2px solid var(--foreground-1);
}